{{#def.partial_body}}

<!doctype html>
<html>
  <head>
    <title>Full Stack Progresseive Enhancement</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>FSPE - Full Stack Progresseive Enhancement</h1>
    <p>Enhancing from static pages to SPAs with PE</p>
    <hr />
    <h2>navigation</h2>
    {{#def.navigation}}
    <hr />
    <div class="content">
    {{#def.body:it}}
    {{#def.footer:it}}
    </div>
    <script src="/main.js"></script>
  </body>
</html>

