<!doctype html>
<html>
  <head>
    <title>Full Stack Progresseive Enhancement</title>
  </head>
  <body>
    <h1>FSPE - Full Stack Progresseive Enhancement</h1>
    <p>Enhancing from static pages to SPAs with PE</p>
    <hr />
    <h2>navigation</h2>
    <ul>
      <li><a href="/home" class="fspe" data-template="page-template">home</a></li>
      <li><a href="/about" class="fspe" data-template="page-template">about</a></li>
    </ul>
    <hr />

    <div class="content">
      {{#block "body"}}{{/block}}
    </div>

    <script id="page-template" type="text/x-handlebars-template">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </script>

    <script src="fspe.js"></script>
  </body>
</html>
